<div class="login-container">

  <mat-card class="login-card">

    <!-- Header -->
    <mat-card-header class="login-toolbar">
      <i class="fa-brands fa-jenkins"></i>
    </mat-card-header>

    <!-- Body -->
    <mat-card-content>

      <form
        class="login-form"
        (ngSubmit)="login()"
      >

        <!-- Username -->
        <mat-form-field appearance="fill" class="full-width">
          <input
            matInput
            placeholder="Username"
            [formField]="loginForm.name"
          />
        </mat-form-field>

        <!-- Errors username -->
        <div class="error-messages-container">
          @if (loginForm.name().touched() && loginForm.name().errors().length > 0) {
            @for (error of loginForm.name().errors(); track $index) {
              <div class="text-danger">{{ error.message }}</div>
            }
          }
        </div>

        <!-- Password -->
        <mat-form-field appearance="fill" class="full-width password-field">
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            placeholder="Password"
            [formField]="loginForm.password"
          />

          <button
            mat-icon-button
            matSuffix
            type="button"
            (click)="clickEvent($event)"
          >
            <mat-icon>
              {{ hide() ? 'visibility_off' : 'visibility' }}
            </mat-icon>
          </button>
        </mat-form-field>

        <!-- Errors password -->
        <div class="error-messages-container">
          @if (loginForm.password().touched() && loginForm.password().errors().length > 0) {
            @for (error of loginForm.password().errors(); track $index) {
              <div class="text-danger">{{ error.message }}</div>
            }
          }
        </div>

        <!-- Submit -->
        <button
          mat-raised-button
          type="submit"
          class="login-button"
        >
          Login
        </button>

      </form>

    </mat-card-content>
  </mat-card>

</div>
