<div class="container min-vh-100 d-flex justify-content-center align-items-center login-container">

  <div class="card shadow login-card">

    <!-- Header -->
    <div class="card-header text-center login-toolbar">
      <i class="fa-brands fa-jenkins text-white fs-1"></i>
    </div>

    <!-- Body -->
    <div class="card-body">
      <form
        class="login-form"
        (ngSubmit)="login()"
        
      >

        <!-- Username -->
        <div class="mb-1 login-field">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            [formField]="loginForm.name"
          />
        </div>

        <!-- Mensajes de error para username fuera del login-field -->
        <div class="error-messages-container mb-3">
          @if (loginForm.name().touched() && loginForm.name().errors().length > 0) {
            <div class="text-danger">
              @for (error of loginForm.name().errors(); track $index) {
                <div>{{ error.message }}</div>
              }
            </div>
          }
        </div>

        <!-- Password -->
        <div class="mb-1 password-field">
          <input
            class="form-control"
            [type]="hide() ? 'password' : 'text'"
            placeholder="Password"
            [formField]="loginForm.password"
          />

          <!-- Toggle password -->
          <button
            type="submit"
            class="btn btn-sm btn-outline-secondary"
            
          >
            <i
              class="fa-solid"
              [class.fa-eye]="!hide()"
              [class.fa-eye-slash]="hide()"
            ></i>
          </button>
        </div>


        <!-- Mensajes de error para password fuera del password-field -->
        <div class="error-messages-container mb-3">
          @if (loginForm.password().touched() && loginForm.password().errors().length > 0) {
            <div class="text-danger">
              @for (error of loginForm.password().errors(); track $index) {
                <div>{{ error.message }}</div>
              }
            </div>
          }
        </div>

        
        <!-- Submit -->
        <button
          type="submit"
          class="btn btn-primary w-100 login-button"
        >
          Login
        </button>

      </form>
    </div>
  </div>
</div>
