.dashboard-layout {
  display: flex;
  min-height: 100vh;

  .sidebar {
    width: 220px;
    background-color: #7A9B7A;
    padding-top: 80px; // separa del header
    display: flex;
    flex-direction: column;

    .list-group-item {
      background-color: transparent;
      border: none;
      padding: 0.75rem 1rem;

      a {
        color: #c2c2c2;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
          background: linear-gradient(
            135deg,
            rgba(142, 175, 157, 0.45),
            rgba(142, 175, 157, 0.25)
          );
          color: #7A9B7A;
          border-radius: 8px;
        }
      }
    }
  }

  .main-content {
    flex: 1;
    background-color: #c2c2c2;
    padding: 1rem 2rem;
  }
}
