.dashboard-layout {
  display: flex;
  min-height: 100vh;

  .sidebar {
    width: 220px;
    background-color: #7A9B7A;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .list-group-flush {
    border-radius: 0;
    /* border: solid; */
    border-bottom: 1px ridge #A2B9A2;
    border-top:1px ridge #A2B9A2;
}

    .list-group-item {
      background-color: transparent;
      border: none;
      padding: 1rem 1rem;
      border: 1px ridge #A2B9A2;
      cursor: pointer;
         &:hover {
          background: linear-gradient(
            135deg,
            rgba(142, 175, 157, 0.562),
            rgba(142, 175, 157, 0.562)
          );
          color: #7A9B7A;
          border-radius: 8px;
        }

      a {
        color: #c2c2c2;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 18px;
      }
    }
  }

  .main-content {
    flex: 1;
    background-color: #c2c2c2;
    padding-top: 80px;

  }
}
