@use '@angular/material' as mat;


.dashboard-header mat-icon.dashboard-logo {
  font-size: 70px;
  width: 110px;
  height: auto;
}


.login-card mat-icon.jenkins-icon {
  font-size: 100px;
  width: 110px;
  height: auto;
}