.my-custom-table {

  /* Encabezado */
  --bs-table-bg-state: #D8D8D8;      /* Fondo de estado activo / encabezado */
  --bs-table-color-state: #000000;   /* Color del texto del encabezado */
  
  /* Colores de hover y activo (opcional) */
  --bs-table-hover-bg: rgba(216, 216, 216, 0.1); /* Hover sobre fila */
  --bs-table-active-bg: rgb(0, 0, 0); /* Fila activa */
  
  /* Otros estilos Bootstrap predeterminados */
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;



}



tbody, td, tfoot, th, thead, tr {
    border-color:#030303;
    border-style: groove;
    border-top: 0px;
}